# Application
APP_ENV=dev
APP_SECRET=change_me_in_prod

# Base de données Supabase (PostgreSQL)
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME?serverVersion=16&charset=utf8

# API Base Adresse Nationale (aucune clé requise, URL publique)
BAN_API_URL=https://api-adresse.data.gouv.fr

# FrankenPHP
SERVER_NAME=:80